# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\viplex_prog\tcp_test_z\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
